body {
	background: #0a2f18;
	font-family: Verdana;
}
.main-page {
	overflow: hidden;
	background: #fff;
	color: #222;
}
html, body {
   // min-height: 100% !important;
    //height: 100%;
}
h1,h2,h3,h4,h5,h6,.page-name, .menu-title {
	font-family: 'Domine', serif;
}
.page-name {
	font-size: 1em;
}
@media (min-width: 767px ){
	.page-name {
	font-size: 1.8em;
}
}